input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*-------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 17px;
  width: 20px;
  background-color: #fff;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}
.menu-line {
  display: block;
  background-color: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}
.input-group {
  background-color: #ebebeb;
  border-radius: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  align-items: center;
  padding-left: 17px;
  max-width: 830px;
  width: 50%;
}

.logo {
  margin-right: 59px;
  cursor: pointer;
}
.input-search {
  background: transparent; /*прозрачность*/
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
}

.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background: transparent;
}

.search_img {
  display: flex;
  justify-content: space-between;
  padding-top: 2x;
}

.icon-search {
  fill: #000;
  cursor: pointer;
}

.icons-button {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.button-icon {
  opacity: 0.65;
  border: none;
  background: none;
  display: inline-block;
  align-items: center;
}

.button-icon:hover {
  opacity: 1;
  border: none;
  cursor: pointer;
}

.button-icon:not(:last-child) {
  margin-right: 50px;
}

.user {
  border: none;
  background: none;
  margin-left: 45px;
}

.user-avatar {
  border-radius: 50%;
}

.user-avatar:hover {
  cursor: pointer;
}

.sidebar {
  padding-left: 32px;
}

.nav-menu {
  margin-right: 0;
  margin-bottom: 60px;
  padding-left: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 29px;
}
.nav-text {
  margin-left: 13px;
}
.one {
  margin-left: 11px;
}

.nav-text {
  color: #898989;
}

.nav-text:hover {
  color: #ff0000;
}
.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-image {
  border-radius: 50%;
}
.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 30px;
}
